@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

:root {
  --primary-font: 'Montserrat', sans-serif;
  --gray-primary: #4E5150;
  --gray-background: #F2F2F2;
  --gray-border-color: #828282;
  --gray-background-counter-color: #E0E0E0;
  --gray-counter-color: #333333;
  --gray-pricing-border-color: #BDBDBD;
  --gray-label-color: #4F4F4F;
  --orange-color: #F2994A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1 rem -> 10px */
  font-size: 62.5%;
}

body {
  color: var(--gray-primary);
  width: 100%;
}

.title-container {
  margin-top: 3.2rem;
}

.content {
  width: 94vw;
  margin: 0 auto;
}

.title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
}

.main-content {
  margin-top: 2rem;
}

.chart-container {
  background-color: var(--gray-background);
  border-radius: 1.2rem;
  padding: 3rem 2.4rem 1rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.chart-itens {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.chart-item {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.item-informations {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-weight: 600;
  font-family: var(--primary-font);
}

.item-title {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.item-pricing {
  margin-top: 0.6rem;
  color: var(--orange-color);
  font-size: 1.4rem;
}

.item-pricing small {
  color: var(--gray-primary);
  font-size: 1rem;
  text-decoration: line-through;
}

.item-image {
  width: 12.4rem;
}

.item-image img {
  width: 100%;
  border-radius: 1.3rem;
}

.item-quantity {
  width: 12rem;
  border: 0.1rem solid var(--gray-border-color);
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-around;
  padding: 1.2rem .4rem;
}

.plus-button, 
.minus-button {
  font-size: 1.6rem;
  line-height: 2rem;
  display: inline-block; 
  width: 2rem;
  height: 2rem;
  background-color: var(--gray-background-counter-color);
  color: var(--gray-border-color);
  text-align: center;
  border-radius: 0.4rem;
  cursor: pointer;
} 

.counter {
  font-size: 1.6rem;
  line-height: 2rem;
  height: 2rem;
  color: var(--gray-counter-color);
}

.pricing-item {
  font-family: var(--primary-font);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--gray-counter-color);
  border-top: 0.1rem solid var(--gray-pricing-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.8rem;
}
 
.checkout-container h2 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--gray-counter-color);
}

.checkout-container label {
  color: var(--gray-label-color);
  font-family: var(--primary-font);
  line-height: 1.2rem;
  font-size: 1rem;
}

.checkout-container input {
  display: block;
  border: 0.1rem solid var(--gray-border-color);
  border-radius: 1.2rem;
  padding: 1rem 3rem;
  width: 100%;
}

.checkout-container input,
.checkout-container select {
  outline: none;
  margin-top: 0.5rem;
}

.checkout-container input::placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.email-input,
.phone-input,
.fullname-input,
.address-input,
.city-input,
.country-input,
.postalcode-input {
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 1rem;
}

.email-input {
  background-image: url(./../images/mail-icon.png);
}

.phone-input {
  background-image: url(./../images/phone-icon.png);
}

.fullname-input {
  background-image: url(./../images/account-icon.png);
}

.address-input {
  background-image: url(./../images/home-icon.png);
}

.city-input, .country-input {
  background-image: url(./../images/building-icon.png);
}

.postalcode-input {
  background-image: url(./../images/postalcode-icon.png);
}

.checkout-container fieldset {
  border: none;
  display: flex;
  gap: 2.4rem;
}

.checkout-container select {
  display: block;
  border: 0.1rem solid var(--gray-border-color);
  border-radius: 1.2rem;
  padding: 1rem 3rem;
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem; width: 100%;
  background-color: #FFF;
  color: var(--gray-border-color);
}

.checkout-container option {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.checkout-container .label-save-input {
  height: 1.6rem;
  line-height: 1.6rem;
}

.checkout-container .save-input {
  display: inline-block;
  width: 1.6rem;
} 

.checkout-container button {
  width: 16.6rem;
  height: 5.4rem;
  background-color: var(--orange-color);
  border: none;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFF;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
}

